.fcontainer {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    justify-content:left;
      height: 77px;
    width: 463px;
  }
  
  .itemim{
    width: 52px;
height: 52px;
flex-shrink: 0;
  }
  .hh{
    width: 396px;
    color: var(--grayscale-black, #26363E);

/* Headlines / H3 18px bold */
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 144.444% */
  }
.imagedem{
  width: 612.298px;
  height: 305.326px;
  flex-shrink: 0;
}
.pp{
  width: 432px;
 
}